**/*.pyc
.idea/*
**/__pycache__/*.pyc
**/*.db

# dotenv
.env

# database files
*.sqlite3
*.db
**/*media/*
**/populate_db.py
**/alembic_dir/versions/*
**/*.pyc
.idea/*
**/__pycache__/*.pyc
**/*.db

**/*media/*